.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 24px;
    background: linear-gradient(to right, #672280, #A626D3);
}

.header-icon {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.header-title {
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
}